@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
  margin: 0;
  padding: 0;
}

html, body {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  line-height: 2;
  height: 100%;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  color: #ffffff;
}

.arrow i {
  display: none;
}

.arrow {
  position:relative;
	display: block;
  color: #ffffff;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow:hover i { 
  display: block;
  position: absolute;
  top: 0.50em; 
  left: -6em;
}

